[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-mptt = "*"
pillow = "*"
djangorestframework = "*"
django-taggit = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11.2"

[pipenv]
allow_prereleases = true
